*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  line-height: 1.7;
  color: #3c3839;
}

.header {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 1)),
  url('../images/trophy.jpg');
  background-size: cover;
  background-position: top;
  margin-bottom: 10rem;
}

.header__text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__text--primary {
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
  font-size: 7rem;
  color: #bc0000;
}
.header__text--sub {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  margin-top: 5rem;
}

.main-container {
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
}

.team {
  width: auto;
  padding: 3rem;
  margin: 1rem;
  background-color: #F1F1F1;
  border: none;
  position: relative;
  transition: box-shadow 0.5s ease;
}

.team:hover {
  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.2), 0 .1rem .5rem 0 rgba(0, 0, 0, 0.19);
}

.team__position {
  font-size: 3rem;
  color: #bc0000;
  font-weight: 600;
}

.team__name {
  margin-left: 1rem;
  position: absolute;
  top: 35%;
  font-size: 2rem;
}

.team__flag-img {
  width: 3rem;
  margin: 0 2rem;
}

.team__comments-div {
  position: absolute;
  height: 100%;
  width: 35%;
  right: 0;
  bottom: 0;
  transition: background-color 0.5s ease;
}

.team__comments-link {
  position: absolute;
  top: 50%;
  right: 40%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.team__comments-div:hover {
  background-color: #bc0000;
  color: #fff;
}

.user-comment__flag-img {
  width: 5rem;
  margin: 0 1rem;
}

.user-comment__team-name {
  margin-top: 3rem;
}

.comment {
  width: auto;
  padding: 3rem;
  margin: 1rem;
  border: none;
  position: relative;
  border-bottom: 0.1rem solid #F1F1F1;
}

.comment__name {
  font-size: 2rem;
  color: #bc0000;
}

.comment__time {
  font-size: 1.1rem;
  color: #bababa;
}

.comment__body {
  color: #3c3839;
}
